body{
    background-color: #00ffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    line-height: 1.5;
    margin: 0px;
}

header{
        background-image: linear-gradient(#0ed10e 93, 12), #41f85a);
        margin: 0px;
        padding: 30px;
        display: flex;
    }
}







#tituloprincipal{
    color: rgb(14, 206, 14);
    text-align: center;
    font-size: 80px;
    width: 200pt;
    
}

.subtitulo{
    text-align: left;
    color:rgb(61, 188, 238));
    font-size: 25px;
    width:200px

     
}

p{
    color:hwb(253 4% 39%);
    text-align:justify;
    font-size: 20px;
    
}
